body{
    background: black;
    display:flex;
    flex-direction: column;
}

.header{
    background: red;
    display: flex;
    justify-content: space-between;
    height: 50px;
    color:white;   
    padding:10px 5px;
}

.title{
    font-size: 40px;
}
.links{
    list-style-type: none;
    display: flex;
    gap: 15px;
    
}
.body{
    background: white;
    height: 300px;
    display: flex;
    justify-content: space-around;
    
    
}
.slogan{
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    width: 450px;

}
img{
    width: 250px;
    height: auto;
    
}
a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}

.container{
    background:#f05022;
    height:400px;
    
    
}
.MVP{
    text-align: center;
    font-size: 40px;
}
.allsauce{
    display:flex;
    justify-content: space-evenly;
    
}
.review{
    height: 200px;
    background: red;
    padding: 30px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
}
.footer{
    background: white;
    color: black;
    text-align: center;
    padding: 10px;
}
